body{
    height: 100vh;
    background: linear-gradient(rgb(226, 226, 235),rgb(25, 0, 255));
    display: flex;
    align-items: center;
    justify-content: center;
}
.central{
    width: 400px;
    height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 3px 8px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

}

.central p{
    font-size: 22px;
    margin: 5px;
}

.central input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

.central input:focus{
    background: silver;
}

.central button{

    width: 100px;
    height: 25px;
    margin: 10px;
    background: linear-gradient(black,white);
    border-radius: 4px;
}

.central button:hover{

    background:white;
}